<section class="wrapper search-wrapper">
  <input
    type="search"
    class="search-input round-border--main border"
    placeholder="Cari Laporan"
  />

  <button class="create-report--btn main-btn content-center round-border--main">
    <span>+</span>
    Buat Laporan
  </button>
</section>

<section class="wrapper filter-wrapper">
  <button class="filter-btn">Kekerasan Seksual</button>
  <button class="filter-btn">Lingkungan</button>
  <button class="filter-btn">Sarana & Prasarana</button>
  <button class="filter-btn">Lainnya</button>
</section>
