<section class="container__content">
  <div class="doc-found-count">1100 dari 1100 laporan</div>

  <section class="report-list">
    <div class="card__report">
      <div class="left-side__card">
        <div class="text-content">
          <h2 class="report-title">Toilet Rusak</h2>
          <div class="report-content">
            <strong>Pramudya:</strong> Toilet di lantai 3 gedung baru tidak bisa
            di flush
          </div>
        </div>
        <span class="report-tag">Sarana & Prasarana</span>
      </div>
      <img
        class="preview-image"
        src="./img/leo.jpg"
        alt="photo content preview"
      />
    </div>

    <div class="card__report">
      <div class="left-side__card">
        <div class="text-content">
          <h2 class="report-title">Toilet Rusak</h2>
          <div class="report-content">
            <strong>Pramudya:</strong> Toilet di lantai 3 gedung baru tidak bisa
            di flush
          </div>
        </div>
        <span class="report-tag">Sarana & Prasarana</span>
      </div>
      <img
        class="preview-image"
        src="./img/leo.jpg"
        alt="photo content preview"
      />
    </div>
  </section>
</section>
