<header>
  <section class="top__header">
    <div class="logo">Lapor <span>UPI</span></div>
    <nav class="container__navbar">
      <a href="#">Laporan</a>
      <a href="#">Statistik</a>
      <a href="#">FAQ</a>
      <a href="#" class="container__profile">
        <img class="profile-photo" src="./img/leo.jpg" alt="profile photo" />
        <p>Pramudya</p>
        <svg
          class="icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
        >
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </a>
    </nav>
  </section>

  <%- include('./searchAndSort'); %>
  <!--  -->
  <!-- <%- include('./uploadReport'); %> -->
</header>
