<section class="container__search">
  <input type="search" class="input__search" placeholder="Cari Laporan" />

  <button class="btn__create-report btn-main centering-btn">
    <span>+</span>
    Buat Laporan
  </button>
</section>

<section class="container__filters-sort">
  <button class="filter-btn">Kekerasan Seksual</button>
  <button class="filter-btn">Lingkungan</button>
  <button class="filter-btn">Sarana & Prasarana</button>
  <button class="filter-btn">Lainnya</button>
</section>
